.navbar-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; /* Added transition */
}

.navbar-open {
  max-height: 500px;
  overflow: hidden;
}

.marquee-wrapper {
  transition: margin-top 0.3s ease-in-out; /* Added transition */
}

.marquee-open {
  margin-top: 400px; /* Adjust this value based on your requirements */
}

/*couse button*/
button:hover .text-violet-800,
button:hover span {
  color: white;
}
/*navbar*/
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  opacity: 0.9;
}
